<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ListenPort" value="8000" />
    <add key="ServerRoute" value="C:\Users\Luis Rojas\Documents\Visual Studio 2010\Projects\AR_CarServer\AR_CarServer\bin\Debug\AR_CarServer.exe" />
    <add key="Max_Player" value="4" />
    <add key="Max_Markers" value="8" />
    <add key="CamCalib" value="default_calib.xml" />
    <add key="DeviceSel" value="0" />
    <add key="GameResol" value="3" />
    <add key="CaptureDeviceTp" value="OpenCV" />
    <add key="CtrlPlayer1" value="Tastatur" />
  </appSettings>
</configuration>